# Final Project Tools for Data Science

In this notebook I will do the final project for this IBM lesson.

There are several programming languages such as: 
1. python
1. R
1. Matlab
1. SQL

|Data Science Tool|Open Source/Commercial|
|-----------------|----------------------|
|Jupyter|Open Source|
|Watson Studio|Commercial|
|RStudio|Open Source|

This is a sum 1+1, this is a multiplication 2x3

In [11]:
1+1

2

In [9]:
def multiply (x,y):
    return x*y

def summm (x,y):
    return x+y

summm(multiply(2,3),2)

8

In [12]:
def minute_convertion(minutes):
    return minutes/60 

minute_convertion(120)

2.0

In the close future I want to:

    -Buy a Car
    -Buy a house
    -Go to Iceland

My name is Cesar Bustos